body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

#map {
  background-image: url('spacecubed-map-1366.jpg');
  background-repeat: no-repeat;
  background-color: #000;
  width: 1366px;
  height: 596px;
}

.template-tweet {
  color: #fff;
  font-size: 1em;
  width: 300px;
  -webkit-transition-property: opacity, top;
  -webkit-transition-duration: 0.5s, 1s;
  -webkit-transition-timing-function: ease-in, ease-in;
}

.invisible {
  opacity: 0.0;
}

.feature {
  position: absolute;
  font-size: 2em;
  font-style: italic;
  -webkit-transition-duration: 2s;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  font-family: "Georgia", serif;
  line-height: 0.9em;
  color: #fff;
  width: 300px;
  opacity: 0.0;
}

.template p {
  margin: 0;
}

.template-tweet p {
  margin: 0 0 0.3em;
}
.template-tweet .author {
  color: #80FAFF;
  font-weight: bold;
  padding-right: 4px;
}

.template-tweet .profile-image {
  float: right;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}

.template-tweet .date {
  color: #aaa;
}

.pin img {
  width: 40px;
  height 40px;
  position: absolute;
}

