extends layout

block css
  link(rel='stylesheet', href='/stylesheets/client.css')
  link(rel='stylesheet', href='/stylesheets/tweet.css')
  link(rel='stylesheet', href='/stylesheets/instagram.css')

block javascript
  script(type='text/javascript', src='/javascripts/lib/raphael-min.js')
  script(type='text/javascript', src='/javascripts/require_jquery.js', data-main='/javascripts/main_client')

block content
  #tape

  #mapContainer
    #background
    #raphael-container
    #map

  #template-tweet.invisible
    div.tweet
      div.text
      img.avatar
      div.author
        p.username
        p.name
        div.twitter-logo



  #template-instagram.invisible
    div.instagram
      img.image



