extends layout

block css
  link(rel='stylesheet', href='/stylesheets/client.css')

block javascript
  script(type='text/javascript', src='/javascripts/require_jquery.js', data-main='/javascripts/main_client')

block content
  #tape

  #map

  #template.template-tweet.invisible
    img.profile-image
    p.text
    p.author
    p.date

