doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animation.css')
    meta(http-equiv='refresh', content="10")
    block css
    block javascript


  body
    block content
